.filters__open-button {
  width: 24px;
  height: 24px;
  margin-top: 33px;
  background-image: url(../../../images/logos/downwards-arrow_black.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.open .filters__open-button {
	transform: rotate(180deg);
}