.filters__open-button {
  width: 24px;
  height: 24px;
  margin-top: 33px;
  background-image: url(../../../images/logos/downwards-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}