.page {
    margin: 0 auto;
    width: 1440px;
    font-family: 'Golos', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #fcfcfc;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }