.filters__delete-button {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-family: 'Golos';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  align-items: center;
  text-align: center;

  color: #212329;
}