.header {
	margin: 0 auto;
	padding: 24px 60px;
  box-sizing: border-box;
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(231, 232, 235, 0.6);
}