.cards__item {
  max-width: 984px;
  list-style: none;
  box-shadow: 0px 0px 4px rgba(231, 232, 235, 0.6),
    0px 4px 16px rgba(231, 232, 235, 0.6);
  border-radius: 16px;
  display: flex;
  background: #fff;
  margin-bottom: 24px;
}
