@import url(./_active/menu__link_active.css);
.menu__link {
	text-decoration: none;
	font-family: Golos, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #212329;
	display: flex;
	flex-direction: row;
	align-items: center;
    cursor: pointer;
}

.menu__link:hover {
	opacity: 0.8;
}