.filters__checkbox-image {
  margin: 0;
  padding 0;
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/logos/Vector.png);
  cursor: pointer;
  z-index: 0;
}

.filters__box:checked + .filters__checkbox-name {
  background-image: url(../../../images/logos/Vector_active.png);
}
