.cards__user-level-bg {
  background: #e6e7eb;
  border-radius: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  max-width: fit-content;
  padding-left: 8px;
  padding-right: 8px;
}
