.profile-form__item_type_password {
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: "Font for password";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-variant: normal;
  text-transform: none;
  letter-spacing: 1px;
}