.annotation {
    grid-column-start: 3;
    margin-left: 60px;
    margin-top: 10px;
    width: 312px;
    height: 432px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #9397A3;
}